@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}
body {
  font-family: "PT Sans";
  font-size: 22px;
  line-height: 36px;
  color: #000000;
  background-color: #E5E5E5;

}
.page-header {
  color: #000000;
  background: #FFFFFF;
}

.navigation-link {
  font-family: "PT Sans";
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.welcome {
  background-image: url("/img/landscape.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 400px 65px;
}


.header-title {
  text-align: center;
}
.title-promo {
  text-align: center;
}

.newsletter-container {
  background-image: url("/img/rock.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 400px 65px;
}
.newsletter-title {
  width: 1200px;
  height: 411px;
}


.page-footer {
  color: #000000;
  background: #FFFFFF;
	display: flex;
	justify-content: space-between;
	padding-left: 72px;
	padding-right: 72px;
}
.footer-social-list {
	padding: 0;
	margin: 0;
	display: flex;
	padding-top: 50px;

}
.footer-social-item {
	margin-right: 53px;
}

.footer-contacts-tel {
	font-size: 40px;
	line-height: 40px;
	font-style: normal;
	padding-top: 40px;
	padding-bottom: 30px;
	margin-right: 82px;
}
.contact-tel {
	color: #000000;
}
.htmlacademy-link {
	display: block;
	padding-top: 43px;
}

.breadrumbs-text {
	font-size: 16px;
	line-height: 21px;
}
.catalog-filter {
  background-image: url("/img/mountain.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 400px 65px;
}
